img{
  height: 50px;
  width: 50px;
  float: left
}

.card {
  display: flex;
  border-radius: 10px;
  margin: 20px;
  width: 800px;
  height: 100px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

button{
  background: red;
  color: white;
  float: right;
}